[Unit]
Description=Lidarr Daemon.
After=network.target

[Service]
Type=simple
ExecStart={{ lidarr__cfg._app_d ~ "/Lidarr" }} -nobrowser -data={{ lidarr___app._var_d }}
TimeoutStopSec=20
Restart=always
User={{ lidarr__srv._user }}
Group={{ lidarr__srv._group }}
UMask=0002
KillMode=process

[Install]
WantedBy=multi-user.target