[Unit]
Description=Lidarr
After=syslog.target network.target

[Service]
User={{ lidarr_user }}
Group={{ lidarr_group }}
Type=simple
ExecStart={{ lidarr_dir }}/Lidarr --nobrowser -data={{ lidarr_config }}
TimeoutStopSec=20
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
